.skillHeader{
    color: $mainColor;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.skilldes{
    font-size: 1.2rem;
    text-align: center;
}



.skillsIcons{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    svg{
        width: 140px;
        height: 140px;
        fill: $colorGray;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            fill: $mainColor;
        }
    }
}

//  Tooltip Layout
.iconWrap{
    position: relative;
}

.span{
    display: inline-block;
    text-align: center;
    background: $mainColor;
    color: white;
    opacity: 0;
    border-radius: 10px;
    padding: 0 1rem;
    position: fixed;
}

.iconWrap:hover .span{
    opacity: 1;
}