// Color Variables
$mainColor          : rgb(255,99,71);
$mainColorLighten   : lighten($mainColor,30%);
$colorWhite         : #fff;





// Images Paths
$imgPath  : "../img";

// Fonts Paths
$fontPath : "../fonts";


